@import "styles/imports.scss";

button {
  cursor: pointer;
  padding: 4px 16px;
  background: none;
  border: 1px solid $white;
  border-radius: 16px;
  color: $white;
  font-family: Saudagar;
  margin-top: 16px;

  &:hover {
    background-color: $white;
    color: rgba(22, 22, 22, 0.6);
  }
}
