@import "styles/imports.scss";

.welcome-modal-container {
  @include shadow-gray-dark;
  width: 100%;
  height: 100%;
  max-width: 50vw;
  max-height: 50vh;
  z-index: 999;
  position: absolute;
  background-color: $pink;
  top: calc((100vh - 50vh) / 2);
  left: calc((100vw - 50vw) / 2);
  border-radius: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  & > div {
    color: $white;
    font-family: Saudagar;
    font-size: 20px;
  }

  & > button {
    width: fit-content;
    margin: auto;
  }
}
