@import "styles/imports.scss";

@keyframes showCircle28 {
  from {
    border-width: 396px;
  }
  to {
    border-width: 28px;
  }
}

@keyframes showCircle24 {
  from {
    border-width: 330px;
  }
  to {
    border-width: 24px;
  }
}

@keyframes showCircle20 {
  from {
    border-width: 280px;
  }
  to {
    border-width: 20px;
  }
}

@keyframes showCircle18 {
  from {
    border-width: 216px;
  }
  to {
    border-width: 18px;
  }
}

@keyframes showCircle16 {
  from {
    border-width: 152px;
  }
  to {
    border-width: 16px;
  }
}

@keyframes scaleIn {
  0% {
    border-width: 450px;
    transform: scale(0, 0);
    opacity: 0.5;
  }
  33% {
    transform: scale(1, 1);
    opacity: 0;
    border-width: 28px;
  }
  66% {
    border-width: 450px;
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
    border-width: 28px;
  }
}

@keyframes scaleIn2 {
  from {
    border-width: 396px;
    transform: scale(0, 0);
    opacity: 0.5;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
    border-width: 28px;
  }
}

.circle {
  @include shadow-gray-medium;
  border-radius: 50%;
  border: 28px solid;
  position: absolute;
  box-sizing: border-box;
  opacity: 0;

  &.hide-animation {
    animation: scaleIn 4s 1 cubic-bezier(0.36, 0.11, 0.89, 0.32);
  }

  &.show-animation {
    animation: scaleIn2 2.5s 1 cubic-bezier(0.36, 0.11, 0.89, 0.32) forwards;
  }

  @media only screen and (max-width: $ipad-horizontal-width),
    screen and (max-height: $ipad-vertical-height) {
    border-width: 24px;
  }

  @media only screen and (max-width: $mobile-horizontal-width),
    screen and (max-height: $desktop-height) {
    border-width: 20px;
  }

  @media only screen and (max-width: $ipad-vertical-width),
    screen and (max-height: 700px) {
    border-width: 18px;
  }

  @media only screen and (max-width: $mobile-vertical-width),
    screen and (max-height: $ipad-horizontal-height) {
    border-width: 16px;
  }

  &-pink {
    border-color: $pink;
    height: 654px;
    width: 654px;

    @media only screen and (max-width: $desktop-width),
      screen and (max-height: $big-desktop-height) {
      height: 620px;
      width: 620px;
    }

    @media only screen and (max-width: $ipad-horizontal-width),
      screen and (max-height: $ipad-vertical-height) {
      height: 544px;
      width: 544px;
    }

    @media only screen and (max-width: $mobile-horizontal-width),
      screen and (max-height: $desktop-height) {
      height: 464px;
      width: 464px;
    }

    @media only screen and (max-width: $ipad-vertical-width),
      screen and (max-height: 700px) {
      height: 356px;
      width: 356px;
    }

    @media only screen and (max-width: $mobile-vertical-width),
      screen and (max-height: $ipad-horizontal-height) {
      height: 248px;
      width: 248px;
    }
  }

  &-blue {
    border-color: $blue;
    height: 792px;
    width: 792px;

    @media only screen and (max-width: $desktop-width),
      screen and (max-height: $big-desktop-height) {
      height: 748px;
      width: 748px;
    }

    @media only screen and (max-width: $ipad-horizontal-width),
      screen and (max-height: $ipad-vertical-height) {
      height: 660px;
      width: 660px;
    }

    @media only screen and (max-width: $mobile-horizontal-width),
      screen and (max-height: $desktop-height) {
      height: 560px;
      width: 560px;
    }

    @media only screen and (max-width: $ipad-vertical-width),
      screen and (max-height: 700px) {
      height: 432px;
      width: 432px;
    }

    @media only screen and (max-width: $mobile-vertical-width),
      screen and (max-height: $ipad-horizontal-height) {
      height: 304px;
      width: 304px;
    }
  }
}
