@import "styles/imports.scss";

.nails-tc-container {
  color: $white;
  font-family: Saudagar;
  width: 100%;
  max-width: 728px;
  max-height: 342px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .nails-tc-categories {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .nails-tc-category-title{
        font-size: 20px;
    }
  }
}
