@import "styles/imports.scss";

.images-container {
  width: 372px;
  height: 664px;

  @media only screen and (max-width: $desktop-width),
    screen and (max-height: $ipad-vertical-height) {
    width: 304px;
    height: 544px;
  }

  @media only screen and (max-width: $ipad-horizontal-width),
    screen and (max-height: $desktop-height) {
    width: 247px;
    height: 442px;
  }

  @media only screen and (max-width: $ipad-vertical-width),
    screen and (max-height: $ipad-horizontal-height) {
    width: 186px;
    height: 332px;
  }

  .images-slider {
    position: relative;
    height: 100%;
    z-index: 2;

    &.hover-right:hover {
      cursor: pointer;

      .image-card {
        opacity: 1;
        &:nth-child(2) {
          margin-left: 32px;

          @media only screen and (max-width: $desktop-width),
            screen and (max-height: $ipad-vertical-height) {
            margin-left: 28px;
          }

          @media only screen and (max-width: $ipad-horizontal-width),
            screen and (max-height: $desktop-height) {
            margin-left: 24px;
          }

          @media only screen and (max-width: $ipad-vertical-width),
            screen and (max-height: $ipad-horizontal-height) {
            margin-left: 20px;
          }
        }

        &:nth-child(3) {
          margin-left: 64px;

          @media only screen and (max-width: $desktop-width),
            screen and (max-height: $ipad-vertical-height) {
            margin-left: 56px;
          }

          @media only screen and (max-width: $ipad-horizontal-width),
            screen and (max-height: $desktop-height) {
            margin-left: 48px;
          }

          @media only screen and (max-width: $ipad-vertical-width),
            screen and (max-height: $ipad-horizontal-height) {
            margin-left: 40px;
          }
        }

        &:nth-child(4) {
          margin-left: 96px;

          @media only screen and (max-width: $desktop-width),
            screen and (max-height: $ipad-vertical-height) {
            margin-left: 84px;
          }

          @media only screen and (max-width: $ipad-horizontal-width),
            screen and (max-height: $desktop-height) {
            margin-left: 72px;
          }

          @media only screen and (max-width: $ipad-vertical-width),
            screen and (max-height: $ipad-horizontal-height) {
            margin-left: 60px;
          }
        }
      }
    }

    &.hover-left:hover {
      cursor: pointer;

      .image-card {
        opacity: 1;
        &:nth-child(2) {
          margin-left: -32px;

          @media only screen and (max-width: $desktop-width),
            screen and (max-height: $ipad-vertical-height) {
            margin-left: -28px;
          }

          @media only screen and (max-width: $ipad-horizontal-width),
            screen and (max-height: $desktop-height) {
            margin-left: -24px;
          }

          @media only screen and (max-width: $ipad-vertical-width),
            screen and (max-height: $ipad-horizontal-height) {
            margin-left: -20px;
          }
        }

        &:nth-child(3) {
          margin-left: -64px;

          @media only screen and (max-width: $desktop-width),
            screen and (max-height: $ipad-vertical-height) {
            margin-left: -56px;
          }

          @media only screen and (max-width: $ipad-horizontal-width),
            screen and (max-height: $desktop-height) {
            margin-left: -48px;
          }

          @media only screen and (max-width: $ipad-vertical-width),
            screen and (max-height: $ipad-horizontal-height) {
            margin-left: -40px;
          }

          @media only screen and (max-width: $mobile-vertical-width),
            screen and (max-height: $mobile-horizontal-height) {
            margin-left: -32px;
          }
        }

        &:nth-child(4) {
          margin-left: -96px;

          @media only screen and (max-width: $desktop-width),
            screen and (max-height: $ipad-vertical-height) {
            margin-left: -84px;
          }

          @media only screen and (max-width: $ipad-horizontal-width),
            screen and (max-height: $desktop-height) {
            margin-left: -72px;
          }

          @media only screen and (max-width: $ipad-vertical-width),
            screen and (max-height: $ipad-horizontal-height) {
            margin-left: -60px;
          }
        }
      }
    }

    @for $i from 1 through 100 {
      &.container-width-#{$i} {
        width: calc((304px + 32px) * ($i));
      }
    }
  }

  .open-right {
    .image-card {
      opacity: 1;

      @for $i from 2 through 100 {
        &:nth-child(#{$i}) {
          margin-left: calc((304px + 32px) * ($i - 1));
        }
      }
    }
  }
}
