@import "styles/imports.scss";

@font-face {
  font-family: "Saudagar";
  src: local("Saudagar"),
    url("./assets/fonts/Saudagar/Saudagar.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  background: $white;
  min-width: 375px;

  #root {
    overflow-x: hidden;
  }
}

p {
  @include subCategory;
  margin: 0;
}

h1 {
  @include title;
  margin: 0;
}

h5 {
  @include description;
  margin: 0;
}
