@import "styles/imports.scss";

.title-container {
  h5 {
    width: 100%;
    max-width: 404px;

    @media only screen and (max-width: 1080px) {
      max-width: 340px;
    }

    @media only screen and (max-width: $ipad-vertical-width),
      screen and (max-height: $ipad-horizontal-height) {
        max-width: 292px;
    }
  }

  &.top-right,
  &.bottom-right {
    p,
    h1,
    h5 {
      text-align: right;
    }

    h5 {
      margin-left: auto;
    }
  }

  &.top-right {
    margin-top: 52px;
    margin-right: 132px;

    @media only screen and (max-width: 1080px) {
      margin-top: 92px;
      margin-right: 48px;
    }

    @media only screen and (max-width: $ipad-vertical-width),
      screen and (max-height: $ipad-horizontal-height) {
        margin-top: 0;
        margin-left: 0;
    }
  }

  &.bottom-right {
    margin-top: auto;
    margin-bottom: 52px;
    margin-right: 132px;

    @media only screen and (max-width: 1080px) {
      margin-bottom: 92px;
      margin-right: 48px;
    }

    @media only screen and (max-width: $ipad-vertical-width),
      screen and (max-height: $ipad-horizontal-height) {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &.bottom-left {
    margin-top: auto;
    margin-bottom: 52px;
    margin-left: 132px;

    @media only screen and (max-width: 1080px) {
      margin-bottom: 92px;
      margin-left: 48px;
    }

    @media only screen and (max-width: $ipad-vertical-width),
      screen and (max-height: $ipad-horizontal-height) {
        margin-bottom: 0;
        margin-left: 0;
    }
  }

  &.top-left {
    margin-top: 52px;
    margin-left: 132px;

    @media only screen and (max-width: 1080px) {
      margin-top: 92px;
      margin-left: 48px;
    }

    @media only screen and (max-width: $ipad-vertical-width),
      screen and (max-height: $ipad-horizontal-height) {
      margin-top: 0;
      margin-left: 0;
    }
  }
}
